# Chapter 2: Python Basics
### Exercise # 1 - Types of variable names
##### __*__ Alphabets, numericals, and '_' are allowed. No other special characters are allowed.
##### __*__ However, numericals are not allowed at the beginning.
##### __*__ '_' can be at the beginning
##### __*__ No key words are allowed like and, if etc

In [5]:
name = 'Viva'

In [6]:
000name = 'Viva'

SyntaxError: invalid decimal literal (3250318496.py, line 1)

In [83]:
name-new ='Viva'

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (3538961467.py, line 1)

In [85]:
_name = 'Viva'

In [87]:
name00 = 'Viva'

In [89]:
for = 'Viva'

SyntaxError: invalid syntax (3516784055.py, line 1)

In [91]:
and = 'Viva'

SyntaxError: invalid syntax (3731133017.py, line 1)

In [93]:
name_ = 'Viva'

In [95]:
name_oo = 'Viva'

### Exercise2: Expressions Vs. Statement
##### __*__ Expressions are entered and statements are defined

In [98]:
# Expression
2 + 2

4

In [100]:
#Expression
'Viva'

'Viva'

In [102]:
# Statement
Coder = 'Viva'
Coder

'Viva'

In [104]:
# Statement
x = 2 + 2
x

4

### Exercise3: Welcome to the Python Programming using statements
##### __*__ Include comments syntax
##### __*__ Understand indentation

In [107]:
line01 = "********************" # header/footer
line02 = "*                  *" # re-use
    line03 = "*     Welcome!     *" # Indentation error occurs here due to white spaces

#Starts with a blank line
print('')
print(line01)
print(line02)
print(line03)
print(line02)
print(line01)

IndentationError: unexpected indent (57655874.py, line 3)

In [109]:
line01 = "********************" # header/footer
line02 = "*                  *" # re-use
line03 = "*     Welcome!     *" # Np indentation error

#Starts with a blank line
print('')
print(line01)
print(line02)
print(line03)
print(line02)
print(line01)

********************
*                  *
*     Welcome!     *
*                  *
********************

# Chapter 3: Operators
### Exercise 1: Assignment Operator
##### __*__ '=' sign is the assignment operator. This can be used for numericals and strings as well.

In [112]:
temprature = 34.5
temprature

34.5

In [114]:
my_name = 'Viva'
my_name

'Viva'

### Exercise 2: Arithmetic Operator
##### __*__ Includes standard addition, subtraction, multiplication etc
##### __*__ Standard arithematic symbols are used

In [117]:
2 + 2 # addition

4

In [119]:
2 - 2 # subtraction

0

In [121]:
3 * 4 # multiplication

12

In [123]:
24 / 5 # division

4.8

In [125]:
round(24 / 5) # rounds up or down based no decimal point value

5

In [127]:
24 % 5 # to display remainder

4

In [129]:
2 ** 5 # here ** is used as raise to the power

32

In [131]:
temp = 45
temp  += 1 # operations using the variable name
temp

46

In [133]:
temp -= 1
temp

45

In [135]:
temp *= 10
temp

450

In [137]:
temp /= 10 # this returns a decimal point value
temp

45.0

In [139]:
temp = round(temp)
temp

45

In [141]:
'Viva' + 'Coder' # Concatination of strings using + symbol

'VivaCoder'

In [143]:
42 == 41 # here == is not the assignment operator, instead it checks if both the values are same or not and returns a true or false

False

In [145]:
42 == 42

True

In [147]:
10 > 5

True

In [149]:
8 <= 4

False

In [151]:
10 >= 10

True

In [153]:
x= True
y = False
z = True
not x # opposite of x

False

In [155]:
not y # opposite of y

True

In [157]:
x and y # and needs both the values to be true

False

In [159]:
x or y # it looks at 2nd variable/argument only if the first is false.
# or need at least one of the variables to be true

True

In [161]:
y or x

True

In [163]:
x and z # here both are true

True

In [165]:
meaning = 8
print('') # to start the printing with an empty line

# below code uses comparison operators to check the conditions
if meaning > 10:
    print('Right on!')
else:
    print('Not today')

Not today

### Exercise 3: Ternary Operator
##### In future classes, more operators would be introduced such as,
##### __*__ Identity Operator
##### __*__ Membership Operator
##### __*__ Bit-wise Operator

In [168]:
meaning = 42
print('') # to start the printing with an empty line

# Use the ternary operator
print('Right on!') if meaning > 10 else print('Not today')

Right on!

# Chapter 4: Data Types
### Exercise 1: Working with data types
##### __*__ Defining and checking string data type
##### __*__ Concatenating strings
##### __*__ Casting numbers to strings

In [170]:
# String data type. Literal assignment of the value

first = 'Viva'
last = 'Coder'

print(type(first)) # 'str'in the output stands for String
print(type(first) == str)
print(isinstance (first, str)) # isinstance is checking the given variable is the instance of what

<class 'str'>
True
True

In [171]:
# Constructor function
pizza = str('Pepperoni') # assigning the string value through constructr function
print(type(pizza))
print(type(pizza) == str)
print(isinstance (pizza, str))

<class 'str'>
True
True

In [172]:
# Concatenation of strings
first = 'Viva'
last = 'Coder'
fullname = first + " " + last
print(fullname)

Viva Coder

In [173]:
# Add additional info to the string
fullname += '!' # this adds value at the end of the string
print(fullname)

Viva Coder!

In [174]:
# Casting a number to a string
decade = str(1980)
print(type(decade))
print(decade)

<class 'str'>
1980

In [175]:
statement = 'I like rock music from the ' + decade + 's.'
print(statement)

I like rock music from the 1980s.

In [176]:
# Multiple lines
multiline = '''
Hey, how are you?                       

I was just checking in.           
                            All good?

'''
print(multiline)

Hey, how are you?

I was just checking in.
                            All good?

### Exercise 2: Using escape characters
##### "\\" escapes the ' and helps in continuing to read the string
##### \t is the for tab
##### \n is the new line character

In [178]:
# Escaping special characters
sentence = 'I\'m back at work!\tHey\n\nWhere\'s this at\\located?'
print(sentence)

I'm back at work!	Hey

Where's this at\located?

### Exercise 3: String Methods
##### Methods are the functions that are called on the string class.

In [180]:
print(first)
print(first.upper())
print(first.lower())
print(first) # Applying methods returns a separate value. It doesn't alter the original value.

Viva
VIVA
viva
Viva

In [181]:
print(multiline.title()) # prints everything as a heading with all the words starting with capitals
print(multiline.replace('good', 'ok'))
print(multiline) # check if anything changed in the original text. It shouldn't.

Hey, How Are You?

I Was Just Checking In.
                            All Good?



Hey, how are you?

I was just checking in.
                            All ok?



Hey, how are you?

I was just checking in.
                            All good?

In [182]:
print(len(multiline))
multiline += "                        "
multiline = "                      " + multiline
print(len(multiline))

117
163

In [183]:
print(len(multiline.strip())) # removes the white spaces in the string
print(len(multiline.lstrip())) # removes only from the left side
print(len(multiline.rstrip())) # removes only frmo the right side

114
140
137

In [184]:
# Build a menu

title = 'menu'.upper()
print(title.center(20, '=')) #centers the title between the '=' symbol. You can find exactly 10 '=' on each side of the title

========MENU========

In [185]:
print(title.center(20, '='))
print("Coffee".ljust(16, '.') + '$1'.rjust(4))
print("Muffin".ljust(16, '.') + '$2'.rjust(4))
print("Cheesecake".ljust(16, '.') + '$4'.rjust(4))

========MENU========
Coffee..........  $1
Muffin..........  $2
Cheesecake......  $4

In [186]:
first = 'VivaCoder' # Using index on strings
print(first[1]) # index starts at 0. So, if we use 1 in the index, it returns value at 2nd position
print(first[-1]) # -1 represents the first value from last.
print(first[1:-1]) 
# index range doesn't include the last value specified in the range.
# So, when we specify 1:-1, this returns all the values from the position # 2 till 2nd from last
print(first[1:])
# not specifying the end of range helps in getting all the values till the end from the specified range.
# Similarly, we can leave the beginning of the range empty to get the values from the first value.

i
r
ivaCode
ivaCoder

In [187]:
# Some methods return Boolean data
first.startswith("V")

True

In [188]:
first.endswith("Z")

False

In [189]:
#Boolean data type
myvalue = True
x = False
print(type(x))
print(isinstance(myvalue, bool))

<class 'bool'>
True

### Excercise 4: Numeric Data Types

In [191]:
# Integer type
price = 100
best_price = int(80)

print(type(price)) # checking the type of price
print(isinstance(best_price, int)) # checking if best_price is of integer type

<class 'int'>
True

In [192]:
# float type
gpa = 3.28
y = float(1.14)

print(type(gpa)) # checking the type of gpa
print(isinstance(y, int)) # checking if y is of float type

<class 'float'>
False

In [193]:
# complex type --  used in advanced electrical projects. Beyond scope for this training
comp_value = 5 + 3j

print(type(comp_value))
print(comp_value.real)
print(comp_value.imag)

<class 'complex'>
5.0
3.0

### Exercise 5: Built-in functions for numbers

In [195]:
print(abs(gpa))
print(abs(gpa * -1)) # returns positive value
print(round(gpa)) # rounds to the nearest integer
print(round(gpa, 1)) # rounds to the nearest decimal value specified

3.28
3.28
3
3.3

In [196]:
import math # to perform additional math functions for numbers

In [197]:
print(math.pi) # returns the value of the pi

3.141592653589793

In [198]:
print(math.sqrt(64)) # sqrt function returns the square root of the given number

8.0

In [199]:
print(math.ceil(gpa)) # returns the narest higher integer

4

In [200]:
print(math.floor(gpa)) # return the nearest lower integer

3

In [201]:
# Casting a string to a number
zipcode = '10001'
zip_value = int(zipcode) # casting the string to an integer
print(type(zip_value))

<class 'int'>

In [202]:
# Error if you cast incorrect data
zip_value = int("New York")

ValueError: invalid literal for int() with base 10: 'New York'

# Chapter 5 - User Input
### Exercise 1 - Accepting user inputs

In [206]:
value = input('Please enter a value:\n') # input allows/prompts the user to enter the input

print(value)

Please enter a value:
 3

3

In [207]:
import sys
import random # to make computer choice random
from enum import Enum

class RPS(Enum):
    ROCK = 1
    PAPER = 2
    SCISSORS = 3

print("")
playerchoice = input("Enter...\n1 for Rock, \n2 for Paper, or \n3 for Scissors:\n\n")

player = int(playerchoice)
if player < 1 or player > 3:
    sys.exit("You must enter 1, 2, or 3.") # this command prints the message and exists the program

computerchoice = random.choice('123')
computer = int(computerchoice)

print("")
print("You chose " + str(RPS(player)).replace('RPS.',"") + ".")
print("Python chose " + str(RPS(computer)).replace('RPS.',"") + ".")
print("")

if player == 1 and computer == 3:
    print("🎉You win!") # press windows + period to load emojis menu
elif player == 2 and computer == 1:
    print("🎉You win!")
elif player == 3 and computer == 2:
    print("🎉You win!")
elif player == computer:
    print("😲Tie game!")
else:
    print("🐍Python wins!")

Enter...
1 for Rock,
2 for Paper, or
3 for Scissors:

 3

You chose SCISSORS.
Python chose SCISSORS.

😲Tie game!

# Chapter 6 - Lists and Tuples
### Exercise 1: Defining and working with lists
##### Lists are one of four collection data types in python. They hold mutiple values and we can reference them using the common name of that list.

In [284]:
users = ['Dave', 'Anna', 'Emma'] # lists with similar variables

In [286]:
data = ['Dave', 42, True] # this is also a valid list with multiple datatypes

In [288]:
emptylist = [] # we can also define an empty list

In [290]:
print('Dave' in data) # to check if a value exists in a particular list or not

True

In [292]:
print('Dave' in empty)

NameError: name 'empty' is not defined

In [294]:
# Lists start with 0 index
print(users[0])
print(users[-1]) # negative index can be used for getting values from last. Last value index would be -1 and 2nd from the last would be -2 and so on
print(users[-2])

Dave
Emma
Anna

In [296]:
print(users.index('Emma')) # to get the position (index) of a particular value

2

In [298]:
print(users[0:2])
# Last value is not included in the defined range. Here user in position 2 would not be returned

['Dave', 'Anna']

In [300]:
print(users[1:]) # to get the list from 2nd position (index 1) till the last value

['Anna', 'Emma']

In [302]:
print(users[-3:-1]) # using negative index.
# Similar to the positive index,

['Dave', 'Anna']

In [304]:
#length of the list: len function can be used
print(len(users))

3

In [306]:
# Append more values to the list
users.append('Elsa')

In [308]:
print(users) # printing the list

['Dave', 'Anna', 'Emma', 'Elsa']

In [310]:
# Addint two lists
# We have two user lists. We need to combine both the lists
# First method
users += ['Jason'] 
# if the list is not specified with in [], it considers every letter as a separate element of the list
print(users)

['Dave', 'Anna', 'Emma', 'Elsa', 'Jason']

In [312]:
# Second method using 'extend'
users.extend(['Robert', 'Jimmy'])

In [314]:
print(users)

['Dave', 'Anna', 'Emma', 'Elsa', 'Jason', 'Robert', 'Jimmy']

In [316]:
# adding two lists togeter
users.extend(data) # check if append can be used same way
print(users)
# Every append/extend operation adds the elements at the end of the list
# To append at the beginning or at any other position, it needs to be specified explicitly

['Dave', 'Anna', 'Emma', 'Elsa', 'Jason', 'Robert', 'Jimmy', 'Dave', 42, True]

In [318]:
users.insert(0, 'Bob') # Adds Bob at the index 0 i.e., at the beginning
print(users)

['Bob', 'Dave', 'Anna', 'Emma', 'Elsa', 'Jason', 'Robert', 'Jimmy', 'Dave', 42, True]

In [320]:
users[2:2] = ['Eddie', 'Alex'] # inserting values into the middle of the list without losing existing ones
# by specifying the start and end as the same position
print(users)

['Bob', 'Dave', 'Eddie', 'Alex', 'Anna', 'Emma', 'Elsa', 'Jason', 'Robert', 'Jimmy', 'Dave', 42, True]

In [322]:
 users[1:3] = ['Robert', 'JPJ'] # replaces the values in those positions specified
print(users)

['Bob', 'Robert', 'JPJ', 'Alex', 'Anna', 'Emma', 'Elsa', 'Jason', 'Robert', 'Jimmy', 'Dave', 42, True]

In [324]:
# deleting values from the list

users.remove('Bob')
print(users)

['Robert', 'JPJ', 'Alex', 'Anna', 'Emma', 'Elsa', 'Jason', 'Robert', 'Jimmy', 'Dave', 42, True]

In [326]:
print(users)

['Robert', 'JPJ', 'Alex', 'Anna', 'Emma', 'Elsa', 'Jason', 'Robert', 'Jimmy', 'Dave', 42, True]

In [328]:
# deleting the last item on the list using pop method
print(users.pop())
print(users)

True
['Robert', 'JPJ', 'Alex', 'Anna', 'Emma', 'Elsa', 'Jason', 'Robert', 'Jimmy', 'Dave', 42]

In [330]:
# deleting items using del 
del users[0]
print(users)

['JPJ', 'Alex', 'Anna', 'Emma', 'Elsa', 'Jason', 'Robert', 'Jimmy', 'Dave', 42]

In [336]:
# deleting items using del 
del users[-1]
print(users)

['Alex', 'Anna', 'Dave', 'Elsa', 'Emma', 'JPJ', 'Jason', 'Jimmy', 'Robert']

In [332]:
# deleting entire data from the list, using clear(). List will be empty after this
data.clear()
print(data)

[]

In [338]:
# sorting this lists
users.sort()
print(users)

['Alex', 'Anna', 'Dave', 'Elsa', 'Emma', 'JPJ', 'Jason', 'Jimmy', 'Robert']

In [340]:
users[1:2] = ['dave'] 
users.sort() #first uppercase will be sorted and then lowercase
print(users)

['Alex', 'Dave', 'Elsa', 'Emma', 'JPJ', 'Jason', 'Jimmy', 'Robert', 'dave']

In [342]:
users.sort(key=str.lower) # to include lower case in the sort
print(users)

['Alex', 'Dave', 'dave', 'Elsa', 'Emma', 'Jason', 'Jimmy', 'JPJ', 'Robert']

In [358]:
nums = [4,42, 78, 1, 5]
nums.reverse() #reverse the current order. Nothing to do with sorting
print(nums)

[5, 1, 78, 42, 4]

In [360]:
print(sorted(nums, reverse = True)) # global sorted function
#does not alter the original list.
print(nums)

[78, 42, 5, 4, 1]
[5, 1, 78, 42, 4]

In [370]:
#copying the list to ther lists
numscopy = nums.copy()
mynums = list(nums)
mycopy = nums[:]

print(numscopy)
print(mynums)
mycopy.sort() #alters the copy. does not impact original
print(mycopy)
print(nums)

[5, 1, 78, 42, 4]
[5, 1, 78, 42, 4]
[1, 4, 5, 42, 78]
[5, 1, 78, 42, 4]

In [372]:
nums.sort(reverse = True) # reverse = true sorts but, in descending order
print(nums) # list is sorted and stored to original list in sorted manner

[78, 42, 5, 4, 1]

In [374]:
print(type(nums))

<class 'list'>

In [376]:
mylist = list([1, 'Viva', True]) #entering list values using list
print(mylist)

[1, 'Viva', True]

### Exercise 2: Defining and Working with Tuples

##### Tuples are similar to lists. Except, the data as in order of the data inside the tuple will not change

In [380]:
mytuple = tuple(('Viva', 36, True))
anothertuple = (1, 4, 2, 8)
print(mytuple)
print(type(mytuple))
print(type(anothertuple))

('Viva', 36, True)
<class 'tuple'>
<class 'tuple'>

In [382]:
newlist = list(mytuple)
newlist.append('Neil')
newtuple = tuple(newlist)
print(newtuple)

('Viva', 36, True, 'Neil')

In [390]:
(one, *two, hey) = anothertuple #unpacking the tuple
# this assigns each value of the tuple to the variable names passed
# varuable name * gets all the remaining values into it in the list form
# this * doesn't have to be defined at the end or beginning
print(one)
print(two)
print(hey)

1
[4, 2]
8

In [392]:
print(anothertuple.count(4)) # counting the occurance of a particular value in the tuple

1

# Chapter 7: Dictionaries & Sets
### Exercise 1: Dictionaries
##### Working with and accessing dictionaries

In [400]:
# definition method one

band = {
    "vocals": "Plant",
    "guitar": "Page"
}

# definition method two

band2 = dict(vocals = "Plant", guitar = "Page")

print(band)
print(band2)
print(type(band))
print(len(band))

{'vocals': 'Plant', 'guitar': 'Page'}
{'vocals': 'Plant', 'guitar': 'Page'}
<class 'dict'>
2

In [404]:
# Accessing the items in dctionaries

print(band["vocals"])
print(band2.get("guitar"))

Plant
Page

In [408]:
print(band.keys()) # print all keys
print(band.values()) # print all values in the dictionary

dict_keys(['vocals', 'guitar'])
dict_values(['Plant', 'Page'])

In [410]:
# list of key/value pairs as tuples
print(band.items())

dict_items([('vocals', 'Plant'), ('guitar', 'Page')])

In [412]:
# verify if a key exists in a dictionary
print("guitar" in band)
print("cow" in band)

True
False

In [416]:
#change values
band["vocals"] = "Coverdale" # updates the values of mentioned key
band.update({"bass":"JPJ"}) #updates or adds a new set f key and value
print(band)

{'vocals': 'Coverdale', 'guitar': 'Page', 'bass': 'JPJ'}

In [418]:
# remove items
print(band.pop("bass")) # returns the value of the key mentioned and that key/value pair would be removed from the dictionary
print(band)

JPJ
{'vocals': 'Coverdale', 'guitar': 'Page'}

In [422]:
band["durms"] = "Bonham"
print(band)

{'vocals': 'Coverdale', 'guitar': 'Page', 'durms': 'Bonham'}

In [426]:
print(band.popitem()) # removes the last set of key/value. Also, prints the removed set as a tuple.
print(band)

('durms', 'Bonham')
{'vocals': 'Coverdale', 'guitar': 'Page'}

In [432]:
band["durms"] = "Bonham"
print(band)

{'vocals': 'Coverdale', 'guitar': 'Page', 'durms': 'Bonham'}

In [436]:
del band["vocals"]  # deletes the key/value pair as per the key mentioned
print(band)

{'guitar': 'Page', 'durms': 'Bonham'}

In [438]:
band["vocals"] = "Coverdale"
print(band)

{'guitar': 'Page', 'durms': 'Bonham', 'vocals': 'Coverdale'}

In [440]:
del band["durms"]  # deletes the key/value pair as per the key mentioned
print(band)

{'guitar': 'Page', 'vocals': 'Coverdale'}

In [442]:
# emptying the entire dictionary
band2.clear()
print(band2) # band2 would be an empty dictionary after clear statement

{}

In [444]:
del band2 # deletes the dictionary

In [446]:
# Copy dictionaries

band2 = band # creates a reference.
# This means both are referring to same place in memory or same dictionary
# Changing one would alter the other one too
print("Bad Copy")
print(band2)
print(band)

band2["drums"] = "Dave"
print(band)

Bad Copy
{'guitar': 'Page', 'vocals': 'Coverdale'}
{'guitar': 'Page', 'vocals': 'Coverdale'}
{'guitar': 'Page', 'vocals': 'Coverdale', 'drums': 'Dave'}

In [450]:
del band["drums"]
print(band2)

{'guitar': 'Page', 'vocals': 'Coverdale'}

In [452]:
band_new = band.copy() # actually creates a copy
band_new["drums"] = "Dave" # does not alter the original dictionary
print("Good Copy!")
print(band_new)
print(band)

Good Copy!
{'guitar': 'Page', 'vocals': 'Coverdale', 'drums': 'Dave'}
{'guitar': 'Page', 'vocals': 'Coverdale'}

In [454]:
# use dict() cnosturctor function to make a copy

band3 = dict(band)
print("Good Copy!")
print(band3)

Good Copy!
{'guitar': 'Page', 'vocals': 'Coverdale'}

In [458]:
# nested dictinaries
member1 = {
    "name": "Plant",
    "instrument": "Vovals"
}
member2 = {
    "name": "Page",
    "instrument": "guitar"
}
band = {
    "member1": member1,
    "member2": member2
}
print(band)
print(band["member1"]["name"])

{'member1': {'name': 'Plant', 'instrument': 'Vovals'}, 'member2': {'name': 'Page', 'instrument': 'guitar'}}
Plant

### Exercise 2: Sets
##### Working with sets - NO duplicates are allowed in sets

In [467]:
# creating sets
num_set = {1, 2, 3, 4}
num_set2 = set((1, 2, 3, 4))

print(num_set)
print(num_set2)
print(type(num_set))
print(len(num_set))

{1, 2, 3, 4}
{1, 2, 3, 4}
<class 'set'>
4

In [470]:
nums_test = {1, 2, 3, 3}
print(nums_test)

{1, 2, 3}

In [472]:
# True is a dupe of 1, Flase is a dupe of 0
nums_new = {1, True, 2, False, 3, 4, 0}
print(nums_new) # removes duplicates and orders in ascending

{False, 1, 2, 3, 4}

In [476]:
# check if a value is in a set
print(2 in nums_new) 

# but you cannot refer to an element in the set with an index position or a key

True

In [478]:
# adding a new element to a set

nums_new.add(8)
print(nums_new)

{False, 1, 2, 3, 4, 8}

In [482]:
morenums = {5, 6,7}
nums_new.update(morenums)

# within this update we can pass a list, tuple, or a dictionary as well
print(nums_new)

{False, 1, 2, 3, 4, 5, 6, 7, 8}

In [486]:
# mergetwo sets to createa new set
set1 = {1, 2, 3}
set2 = {5, 6,7}
new_set = set1.union(set2)
print(new_set)

{1, 2, 3, 5, 6, 7}

In [492]:
# keep only the duplicates from the two different sets
set3 = {1, 2, 3, 4}
set4 = {3, 4, 5, 6,7}
set3.intersection_update(set4)
print(set3)

{3, 4}

In [498]:
# Print all excluding duplicates
set3 = {1, 2, 3, 4}
set4 = {3, 4, 5, 6,7}
set3.symmetric_difference_update(set4)
print(set3)

{1, 2, 5, 6, 7}